<style>
  #global-header .block {
      font-family: 'Latin Modern Math', sans-serif; /* Change 'Arial' to the desired font */
  }
  #global-header:before  {
      color: #E3E3E4; /* Text color */
      background: linear-gradient(to right,#3c8f03, #9bf035); /* Apple green linear gradient */
  }
  #global-header .block p {
      font-size: 20px;
      font-weight: 700;
  }
  #global-header .block h1 {
      font-size: 45px;
      font-weight: 600;
  }
  .custom-list {
      list-style-type: disc; /* Use decimal numbers */
      padding-left: 430px; /* Reset padding */
      display: flex; /* Use flexbox */
      flex-direction: column; /* Arrange items vertically */
      align-items: flex-start; /* Align items to the start (left) of the container */
  }

  .custom-list li {
      margin-bottom: 20px; /* Add some spacing between items */
      display: flex; /* Use flexbox */
      align-items: center; /* Align content vertically */
      width: 100%; /* Ensure list items take up full width */
  }

  .custom-list li span {
      width: 100%; /* Ensure spans take up full width */
      text-align: center; /* Center the text horizontally */
  }
  .section-title p {
  font-family: "Roboto", sans-serif;
}


</style>


<!-- Slider Start -->
<section id="global-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1>{{page.title}}</h1>
          <p>¡Bienvenidxs!</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2> Laboratorio de Lógica Computacional</h2>
        <p> El objetivo del curso es introducir las lógicas formales y sus aplicaciones en Ciencias de la Computación. En particular, se analizan los casos de la lógica proposicional y la lógica de primer orden, junto a sus métodos formales de deducción y demostración dando además especial énfasis a la implementació́n de estos métodos.</p>
      </div>
    </div>
    <section id="another-section">
      <div class="container">
	<div class="row">
	  <div class="section-title">
            <h2>Contenido del curso</h2>
	    
	  </div>
	  <div class="col-md-12">
            <ul class="custom-list">
	        <li>Sesión 1: Introducción a Haskell (Parte I)</li>
  <li>Sesión 2: Introducción a Haskell (Parte II)</li>
  <li>Sesión 3: Sintaxis de la lógica proposicional</li>
  <li>Sesión 4: Semántica de la lógica proposicional</li>
  <li>Sesión 5: Formas Normales en lógica proposicional</li>
  <li>Sesión 6: Resolución binaria en lógica proposicional</li>
  <li>Sesión 7: Sintaxis y semántica de la lógica de predicados</li>
  <li>Sesión 8: Formas Normales y resolución con unificación en lógica de predicados</li>
  <li>Sesión 9: Introducción a Prolog (Parte I)</li>
  <li>Sesión 10: Introducción a Prolog (Parte II)</li>
  <li>Sesión 11: Control de búsquedas en Prolog</li>
  <li>Sesión 12: Cortes y negación como falla en Prolog</li>
  <li>Sesión 13: Introducción a Coq (Parte I)</li>
  <li>Sesión 14: Introducción a Coq (Parte II)</li>
  <li>Sesión 15: Inducción en Coq (Parte I)</li>
  <li>Sesión 16: Inducción en Coq (Parte II)</li>
            </ul>
	  </div>
	</div>
      </div>
    </section>

    <section id="service">
      <div class="container">
        <div class="row">
          <div class="section-title">
            <h2>Instalaciones</h2>
            <a href="haskell.html">Haskell</a>
          </div>
        </div>
